block vars
doctype html
html
 head
  title #{title}
  link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  block scripts
 body
  div(class="wrapper")
   div(class="header")
    div(class="adda") Adda
    block login
    br
    div(class="slogan") A Discussion Forum 

   div(class="content")
    block content 
