block vars
doctype html
html
 head
  title #{title}
  link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  block scripts
 body
  div(class="homeButton")
   a(href="/dashboard") Home
  h1(class="heading") ADDA
  h2(class="heading") #{title}
  block content
 