extends base
block vars
 -var title = "dashbord"
block scripts

block content
 link(rel="stylesheet" type="text/css" href="stylesheets/dashboard.css")
 hr
 div(class= 'dashboard')
  a(href="/logout") Logout
   p Name: #{name}
   h3 My Topics:
  div
   ol
    if topics
     each topic in topics
      li
       a(href="/topic/#{topic.id}") #{topic.name} 

