extends base
block vars
 -var title = "dashbord"
block scripts
 link(rel="stylesheet" type="text/css" href="stylesheets/dashboard.css")
block content
 a(href="/logout") Logout
 hr
 div(class= 'dashboard')
  p Name: #{name}
  h3 My Topics:
  div
   ol
    if topics
     each topic in topics
      li
       a(href="/topic/#{topic.id}") #{topic.name}
    br
    br
    a(href="/topics") Topics

