extends base
block vars
 -var title = "dashbord"
block scripts

block content
 a(href="/logout") Logout
 p Name: #{name}
 h3 My Topics:
 div
  ol
   if topics
    each topic in topics
     li
      a(href="/topic/#{topic.id}") #{topic.name} 

