extends base
block vars
 -var title =""
block login
 |login
block content
  h4 Welcome to Adda..... 
   a(href="/register") register
   |&nbsp;or 
   a(href="/login") login
  
  h2 Latest Discussions:
  ul
  each t in topics
   li #{t.name}
    
