extends base

block content
  center
   h1= title
  hr
  center
   h4 Welcome to #{title}.....
    |Its a social networking site
    br
    |Please 
    a(href="/register") register
    |&nbsp;or 
    a(href="/login") login
    |&nbsp;to continue
    hr
   p 
    div(class="first_page") 
      h2 Latest Discussions:
       each t in topics
        li #{t}
    
