extends base
block vars
 -var title =""
block content
  hr
  center
   h4 Welcome to Adda.....
    |Its a social networking site
    br
    |Please 
    a(href="/register") register
    |&nbsp;or 
    a(href="/login") login
    |&nbsp;to continue
    hr
  p 
   div 
    h2 Latest Discussions:
    ul
     each t in topics
      li #{t}
    
