extends base
block vars
 - var title = "Login"
block scripts
  link(rel="stylesheet" type="text/css" href="/stylesheets/login.css")

block content

 form(action="/login" method="post")
  div(class="box")
   if(error)
    div(class="error") Error: #{error}
   div(class="login_box")
    div(class="inputBox") User Id (email):
     br
     input(class="textBox" type="email" name="email" required)
 
    div(class="inputBox") Password:
     br
     input(class="textBox" type="password" name="password" required)
     br
    div(id="btn_login")
     input(class ="btn" type="submit" value = "Login")