extends base
block vars
 - var title = "Login"
block content
 form(action="/login" method="post")
  p User Id (email):
  input(type="text" name="email" required)
  br
  p Password
  input(type="password" name="password" required)
  br
  input(type="submit" value = "Login")