extends base
block vars
 - var title = "Login"
block scripts
  link(rel="stylesheet" type="text/css" href="/stylesheets/login.css")

block content
div(class="login_image")
 form(action="/login" method="post")
  input(type="email" name="email" required placeholder="email")
  input(type="password" name="password" required placeholder="password")
  br
  input(class="btn" type="submit" value = "Login")
  if(error)
   div(class="error") Error: #{error} 
  