extends base
block vars
 - var title = "Login"
block scripts
  link(rel="stylesheet" type="text/css" href="/stylesheets/login.css")

block content
 div(class="objects")
  form(action="/login" method="post")
   table
    tr
     td User Id:
     td
      input(type="email" name="email" required placeholder="email")
    tr  
     td Password:
     td
      input(type="password" name="password" required placeholder="password")
    tr
     td  
      input(class="btn" type="submit" value = "Login")
    if(error)
     div(class="error") Error: #{error} 
  