extends base
block vars
 -var title ="Register"

block content
  link(rel="stylesheet" type="text/css" href="stylesheets/login.css")
  div(class='box')
   h1 Register your account
   if error
    div(class="error") Error: #{error}
   form(action="/register" method="POST")
    span 
     |Name:
     input(type="text" name="name" required)
    br
    br
    span 
     |Email:
     input(type="email" name="email" required)
    br
    br
    span 
     |Password:
     input(type="password" name="password" required)
    br
    br
    input(type="submit" value="Register")