block vars
 -var title = 'Topics'

extends base
block content
 hr
 link(rel="stylesheet" type="text/css" href="stylesheets/topics.css")
 center
  h1 Add new Topic
 body
  div(class= 'div_style' )
   div(align="center")
    form(action="/topics" method="post")
     |Name : 
     input(type="text" name="name" required)
     br
     br
     |Description :
     input(type="text" name="description" required)
     br
     br
     input(type="submit" value="submit")
     br
     br
   div(align="center")
    form(action="/topics" method="get")
     h3 Search Topics-
     input(type="text" name="searchby" required)
     input(type="submit" value="search")

 if topics
  each topic in topics
   a(href="/topic/#{topic.id}") #{topic.name}
   br


