.error{
	color: red;
	margin-left: 6%;
	margin-right: 15%;
	padding: 1%;
}

td {
	padding-left: 12%;
	height: 50px;
	width: 50px;
}

.objects{
	margin-top: 8%;
	margin-left: 28%;
	padding-left: 5%;
	padding-top: 7%;
	padding-bottom: 5%;
	width:35%;
	background-color: #E6E6B8;
}

.btn{
	height: 30px;
	width: 100px;
	background-color: #ffffff;
	box-shadow: none;
	font-size: 90%;
}

.txtbox{
	height: 25px;
	border: 1px red medium;
}
