.wrapper{
	height:100%;
	width: 99%;
	position: fixed;
}

.header{
	height: 20%;
	width: 100%;
	background-color:#404049;
	color: #ffffff;
	text-align: center;
}

.content{
	height: 80%;
	width: 100%;
}

/*div{
	border: 1px solid black;
}*/

.login {
	margin-right: -18%;
	margin-top: -3%;
	float: right;
	vertical-align: text-bottom;	
}

.adda {
	margin-top: 1%;
	font-size: 500%;
	display: inline;
}

.login_span {
}

.slogan {
	margin-right: -55%;
	display: inline-block;
}