.homeButton {
	display: inline-block;
	margin-top: 10px;
	margin-left: 90%;
	font-size: 150%;
}

.heading {
	text-align: center;
}

.loginBlock {
	text-align: center;
	display: inline-block;
	margin-left: 45%;
}